/* General Style */

* {
  box-sizing: border-box;
  margin: 0;
}


/* header */

#header {
  font-family: 'Rubik';
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #1b3c59;
  height: 180px;
  z-index: 1;
  line-height: 40px;
  text-align: center;
}

#logo {
  margin-top: 10px;
  display: inline-block;
  vertical-align: middle;
}

#logo img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

#titolo {
  display: inline-block;
}
#titolo h1 {
  margin-left: 20px;
  color: #fff;
}

#titolo span {
  color: rgb(255, 90, 95);
}

/* menu */

#menu {
  display: inline-block;
}

#menu li {
  list-style: none;
  display: inline-block;
}

#menu li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 25px 20px;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  font-weight: 400;
  text-transform: uppercase;
}

#menu li a:hover {
  border-color: rgb(255, 90, 95);
  color: rgb(255, 90, 95);
  font-weight: 700;
}

/* input-menu */

#sotto-menu {
  color: #fff;
}
#input-menu {
  display: inline-block;
}

#input-menu label {
  padding: 0 8px;
  font-weight: 700;
}

#input-menu label:hover {

  color: rgb(255, 90, 95)

}

input[type="text"] {
    font-family: 'Rubik';
  border-radius: 5px;
}

input[type="text"]:hover {
  border-color: rgb(255, 90, 95);
}

input[type="date"]{
    font-family: 'Rubik';
  border-radius: 5px;
}

input[type="date"]:hover {
  border-color: rgb(255, 90, 95);
}

#adulti {
    font-family: 'Rubik';
  border-radius: 5px;
}

#bambini {
    font-family: 'Rubik';
  border-radius: 5px;
}

#camera {
    font-family: 'Rubik';
  border-radius: 5px;
}

#adulti:hover {
  border-color: rgb(255, 90, 95);
}

#bambini:hover {
  border-color: rgb(255, 90, 95);
}

#camera:hover {
  border-color: rgb(255, 90, 95);
}

/* content-main */
main {
  font-family: 'Open Sans';
  padding-top: 120px;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2)
}

.box {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 3px 3px rgba(0,0,0, .5)
}

.contenuto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-shadow: 5px 5px rgba(0,0,0, .5)
}

.londra {
  background-image: url('../img/londra.jpg');
}

.parigi {
  background-image: url('../img/parigi.jpg');
}

.vienna {
  background-image: url('../img/vienna.jpg');
}

.mosca {
  background-image: url('../img/mosca.jpg');
}

.roma {
  background-image: url('../img/roma.jpg');
}

.barcellona {
  background-image: url('../img/barcellona.jpg');
}

.box:hover {
  opacity: .8;

}
.box:hover span {
  color: rgb(255, 90, 95);
}

/* footer */

#footer {
  width: 100%;
  height: 100px;
  background: #1b3c59;
  text-align: center;
}
